# Your huggingface token to download private models and datasets from huggingface hub.
HF_TOKEN="" 

# Postgres database configuration
POSTGRES_USER="lastfirstkiss"       #Change to yours (btw, I'm a big fan of 1D, so set their song here to pray for Liam)
POSTGRES_PASSWORD="nightchange"     #Change to yours (btw, I'm a big fan of 1D, so set their song here to pray for Liam)
POSTGRES_DB="hm-recsys"             # Database name to save H&M data (change to any name you want)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_FEATURE_STORE_OFFLINE_SCHEMA=feature_store_offline
POSTGRES_FEATURE_STORE_ONLINE_SCHEMA=feature_store_online

# MySQL database and MinIO for saving MLFlow metadata and artifacts
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MYSQL_DATABASE=mlflow_database
MYSQL_USER=mlflow_user
MYSQL_PASSWORD=mlflow
MYSQL_ROOT_PASSWORD=mysql
MLFLOW_TRACKING_URI=http://localhost:5002

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=item2vec